<!DOCTYPE html>
<html>
  <head>
    <title>Movie Inventory App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 class="nav-h1">Movie Inventory App</h1>
        <a href="/catalog/item_list"><h2> All Movies </h2> </a>
        <a href="/catalog"><h2>All Genre</h2></a>
      </nav>
      <hr />
    </header>
  </body>
</html>
