<%- include('index') %>
<main>
    <h2>Do you really want to Delete <%=item.name %> ?
    </h2>
    <br/>
    <form method="POST" action=" ">
        <input type="hidden">
        <button type='submit'>Delete</button>

    </form>
</main>